<form method="post" action="{{ path('galery_delete', {'id': galery.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ galery.id) }}">
    <button class="btn">Delete</button>
</form>
