{% extends 'base.html.twig' %}

{% block title %}New Galery{% endblock %}

{% block body %}
    <h1>Create new Galery</h1>

    {{ include('galery/_form.html.twig') }}

    <a href="{{ path('galery_index') }}">back to list</a>
{% endblock %}
